<% include partials/header %>

<div class="jumbotron">
	<h1>Resultado da procura</h1>
</div>

<ul>
	<%= data["id"] %>
    <%= data["name"] %>
    <%= data["category"] %> 
    <%= data["price"] %>
</ul>


	<form id="delete" action="/procura/<%= data._id%>?_method=DELETE" method="POST">
		<button class="btn btn-danger">Deletar</button>
	</form>

	<a class="btn btn-warning" href="/procura/<%=data._id%>/editar">Editar</a>
	<a class="btn btn-primary btn-large" href="/">Voltar</a>
		



<% include partials/footer %>