<% include partials/header %>

<h1>Resultado da procura</h1>

<ul>
	<%= data["id"] %>
    <%= data["name"] %>
    <%= data["category"] %> 
    <%= data["price"] %>
</ul>


	<form id="delete" action="/procura/<%= data._id%>?_method=DELETE" method="POST">
		<button class="btn btn-danger">Deletar</button>
	</form>

	<a class="btn btn-warning" href="/procura/<%=data._id%>/editar">Editar</a>

		



<% include partials/footer %>